/* Error: "This is an example error message."
 *     ,
 * 231 | @error "This is an example error message.";
 *     | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   scss\main.scss 231:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: "This is an example error message."\a     \2577 \a 231 \2502  @error "This is an example error message.";\d\a     \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   scss\\main.scss 231:1  root stylesheet';
}
