body {
                                                
    color: #fff;
    overflow: hidden; 
  }
  
  h1, h2 , h4 {
    font-family: 'Harry Potter', sans-serif;
                                                  
  }
  
  .sorter {
    font-family: 'Harry Potter', sans-serif;
    text-align: center;
  }
  
  #bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; 
  }
  
  .container , .start-container{
   
    
    align-items: center; 
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(44, 39, 35, 0.8); 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
   /* #startButton {
    align-items: center; 
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(44, 39, 35, 0.8); 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  } */
  
  h1 {
    text-align: center;
    color: #ffd700; 
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-bottom: 10px;
    color: #ffd700;
  }
  
  .start-container> h4 {
    text-align: center;
    color: #da6868
  }
  
  #quiz {
    margin-bottom: 20px;
  }
  
  #questionNum {
    font-weight: bold;
    color: #ffd700;
  }
  
  #question {
    color: #fff;
  }
  
  #options {
    display: flex;
    flex-direction: column;
  }
  
  .option {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #8d5c5c; 
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .option:hover {
    background-color: #4d0b03; 
  }
  
  #nextButton {
    display: none;
    background-color: #ffd700; 
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    margin: 20px auto 0;
  }
  
  
  
  #nextButton:hover {
    background-color: #ffe166; 
  }
  
  #resetButton, #retryButton {
    display: block;
    background-color: #ffd700; 
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    margin: 20px 0 0;
  }
  
  #resetButton:hover , #retryButton:hover {
    background-color: #ffe166; 
  }
  
  .button-container {
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
  }
  #result {
    text-align: center;
    font-weight: bold;
    color: #ffd700;
  }
  
  #startButton {
    margin: 0 auto; 
    display: block; 
    width: 200px;
    height: auto; 
    cursor: pointer;
    z-index: 1; 
  }
  
  #houseImageContainer {
    text-align: center; 
  }
  
  .selected {
    background-color: #ffc107; 
    color: #000; 
  }
  
  
  
  